<div class="paper-wrapper">
    <div class="clouds"></div>
    <div id="paper" class="joint-paper"></div>
</div>
<div class="actions">
    <button mat-raised-button class="add-button" (click)="createLinkBetweenSelectedNodes()">Add connection</button>
    <mat-form-field appearance="outline" class="input-size">
        <mat-label>Latency</mat-label>
        <input class="setText-center" matInput type="number" [(ngModel)]="latency" />
    </mat-form-field>
</div>
<div class="main-actions">
    <button mat-raised-button (click)="stepBack()">Back</button>
    <button mat-raised-button color="primary" (click)="save()">Configure</button>
</div>