<div class="paper-wrapper">
    <div class="clouds"></div>
    <div id="paper" class="joint-paper"></div>
</div>
<div class="actions">
    <form [formGroup]="connectionForm">
        <button mat-raised-button (click)="createLinkBetweenSelectedNodes()">Add connection</button>
        <mat-form-field appearance="outline" class="input-size">
            <mat-label>Latency</mat-label>
            <input class="setText-center" matInput type="number" formControlName="latency" />
            <mat-error *ngIf="connectionForm.get('latency').hasError('pattern')">
                The quantity can't be <strong>0</strong>
              </mat-error>
        </mat-form-field>
    </form>
</div>
<div class="main-actions">
    <button mat-raised-button (click)="stepBack()">Back</button>
    <button mat-raised-button color="primary" (click)="save()">Configure</button>
</div>