
<mat-nav-list class="nav-list">
  <div mat-list-item routerLink="/home" class="menu-item first-menu-item" routerLinkActive="active">
    <div class="nav-item">
      <i class="fa fa-home fa-2x nav-icon" aria-hidden="true"></i>
      <span class="nav-label">Home</span>
    </div>
  </div>
  <div mat-list-item routerLink="/configure"  class="menu-item" routerLinkActive="active">
    <div class="nav-item">
      <i class="fa fa-cogs fa-2x nav-icon" aria-hidden="true"></i>
      <span class="nav-label">Configure</span>
    </div>
  </div>
  <div mat-list-item routerLink="/profile"  class="menu-item" routerLinkActive="active">
    <div class="nav-item">
      <i class="fa fa-user fa-2x nav-icon" aria-hidden="true"></i>
      <span class="nav-label">Profile</span>
    </div>
  </div>
  <div mat-list-item routerLink="/login"  class="menu-item"
    (click)="tokenService.signOut()">
    <div class="nav-item">
      <i class="fa fa-arrow-right fa-2x nav-icon" aria-hidden="true"></i>
      <span class="nav-label">Logout</span>
    </div>
  </div>
</mat-nav-list>
