
<mat-nav-list class="nav-list">
  <a mat-list-item routerLink="/home" class="menu-item">
    <i class="fa fa-home nav-icon" aria-hidden="true"></i>
    <span class="full-width">Home</span>
  </a>
  <a mat-list-item routerLink="/configure"  class="menu-item">
    <i class="fa fa-cogs nav-icon" aria-hidden="true"></i>
    <span class="full-width">Configure</span>
  </a>
  <a mat-list-item routerLink="/profile"  class="menu-item">
    <i class="fa fa-user nav-icon" aria-hidden="true"></i>
    <span class="full-width">Profile</span>
  </a>
  <a mat-list-item routerLink="/login"  class="menu-item"
    (click)="tokenService.signOut()">
    <i class="fa fa-arrow-right nav-icon" aria-hidden="true"></i>
    <span class="full-width">Logout</span>
  </a>
</mat-nav-list>
