.spinner-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
}

@media screen and (min-width: 1000px) {
  .spinner-wrapper{
    left: 5%;
  }
}

.tab{
  padding: 1rem 0;
}

.fail-title{
  color: red;
  font-weight: 500;
  line-height: 40px;
}

.fail-img{
  width: 200px;
  height: 200px;
}

.fail-content{
  text-align: center;
  height: 100%;
  margin-top: 5rem;
}

.error{
  outline: 1px solid black;
  padding: 1rem;
  margin: 0 20%;
}

.configuration-fail-header{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

::ng-deep .mat-tab-label-active{
  color: #ff5722 !important;
} 