@import '../../../../../../assets/css/formStyle.css';

.input-size-min {
  width: 40%;
}

.app-card.mat-card{
  padding: 0.5rem 0;
}

.double-item-row{
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center center;
  align-items: center;
}

.custom-expansion-panel-header{
  background-color: #cccccc3b;
}

.custom-expansion-panel{
  margin: 0 1rem;
}

.space-top{
  margin-top: 1rem;
}

@media screen and (max-width: 500px) {
  .double-item-row {
    flex-direction: column;
  }

  .app-card.mat-card{
    padding: 0.5rem 3rem;
  }

  .input-size-min{
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .app-card.mat-card{
    padding: 0.5rem 1rem;
  }
}
