<div class="dialog-header">
  <h1 mat-dialog-title class="setText-center title">Number of applications {{ data.numOfApps }}</h1>
  <h2  class="setText-center distribution-text"
    *ngIf="quantityCounterService.getUndividedApps() && quantityCounterService.getUndividedApps() > 0">
    Number of apps to distribute: {{quantityCounterService.getUndividedApps()}}
  </h2>
</div>
<div mat-dialog-content>
  <div [style.margin]="'2%'" fxLayout="row wrap" fxLayoutAlign="center center">
    <ng-container *ngFor="let app of data.applications | keyvalue">
      <app-application-card
       class="app-card"
        [application]="app.value"
        (removeEmitter)="removeTypeOfApp($event)"
      ></app-application-card>
    </ng-container>
    <div [ngClass]="{'plus-wrapper-disabled': quantityCounterService.getUndividedApps() ===0}"
      class="plus-wrapper" (click)="addApp()">
      <i class="fas fa-plus fa-5x plus-icon"></i>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="dialog-actions">
  <button mat-raised-button matDialogClose class="cancelButton" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" class="okButton" [disabled]="!checkDialogIsValid()" (click)="submitApplicationCards()">
    Ok
  </button>
</div>
