<mat-card fxLayout="column" fxLayoutAlign="center center" class="app-card">
  <mat-card-header class="header">
    <button mat-icon-button type="button" class="info-icon" (click)="openInfoPanelForApplications()">
      <i class="fas fa-info-circle fa-lg"></i>
    </button>
    <div class="title">
      <span class="title-text">Application</span>
    </div>
  </mat-card-header>
  <form [formGroup]="appFormGroup">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="double-item-row space-top">
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>Task size</mat-label>
          <input class="setText-center" matInput type="number" formControlName="tasksize" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>Frequency</mat-label>
          <input class="setText-center" matInput type="number" formControlName="freq" />
        </mat-form-field>
      </div>
      <div class="double-item-row">
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>Number of Instruciton</mat-label>
          <input class="setText-center" matInput type="number" formControlName="numOfInstruction" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>Threshold</mat-label>
          <input class="setText-center" matInput type="number" formControlName="threshold" />
        </mat-form-field>
      </div>
      <mat-checkbox color="primary" [checked]="canJoin" (change)="canJoin = !canJoin">Can join</mat-checkbox>
    </div>
  <div class="double-item-row space-top">
    <mat-form-field appearance="outline" class="input-size-min">
      <mat-label>Select instances</mat-label>
      <mat-select [(ngModel)]="instance" name="instance" [ngModelOptions]="{ standalone: true }">
        <mat-option *ngFor="let instance of instances" [value]="instance"> {{ instance }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-size-min">
      <mat-label>Strategy</mat-label>
      <mat-select [(ngModel)]="strategy" [ngModelOptions]="{ standalone: true }">
        <mat-option *ngFor="let strategy of strategys" [value]="strategy"> {{ strategy }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </form>
</mat-card>
