<mat-card class="instance-card">
    <mat-card-header class="header">
        <button mat-icon-button type="button" class="info-icon" (click)="openInfoPanelForInstances()">
            <i class="fas fa-info-circle fa-lg"></i>
        </button>
        <div class="title">
            <span class="title-text">Instances</span>
        </div>
        <button mat-icon-button (click)="removeEmitter.emit(instance.id)">
            <i class="fas fa-trash-alt"></i>
        </button>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="instanceFormGroup">
            <div fxLayout="column" fxLayoutAlign="center center">
                <div class="double-item-row space-top">
                    <mat-form-field appearance="outline" class="input-size-min">
                        <mat-label>RAM</mat-label>
                        <input class="setText-center app-input" matInput type="number" formControlName="ram"
                            placeholder="4294967296" />
                        <span matSuffix>byte</span>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-size-min">
                        <mat-label>CPU Cores</mat-label>
                        <input class="setText-center" matInput type="number" formControlName="cpuCores"
                            placeholder="> 1" />
                        <span matSuffix>core</span>
                    </mat-form-field>
                </div>
                <div class="double-item-row space-top">
                    <mat-form-field appearance="outline" class="input-size-min">
                        <mat-label>CPU Core processing power</mat-label>
                        <input class="setText-center app-input" matInput type="number"
                            formControlName="cpuProcessingPower" placeholder="0.001" />
                        <span matSuffix>sec</span>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-size-min">
                        <mat-label>Startup process</mat-label>
                        <input class="setText-center" matInput type="number" formControlName="startupProcess"
                            placeholder="100" />
                        <span matSuffix>unit</span>
                    </mat-form-field>
                </div>
                <div class="double-item-row space-top">
                    <mat-form-field appearance="outline" class="input-size-min">
                        <mat-label>Newtwork load</mat-label>
                        <input class="setText-center app-input" matInput type="number" formControlName="networkLoad"
                            placeholder="0" />
                        <span matSuffix>unit</span>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-size-min">
                        <mat-label>Required disk</mat-label>
                        <input class="setText-center" matInput type="number" formControlName="reqDisk"
                            placeholder="1073741824" />
                        <span matSuffix>byte</span>
                    </mat-form-field>
                </div>
                <div class="double-item-row space-top">
                    <mat-form-field appearance="outline" class="input-size-min">
                        <mat-label>Price per tick</mat-label>
                        <input class="setText-center app-input" matInput type="number" formControlName="pricePerTick"
                            placeholder="0.0000000283333333" />
                        <span matSuffix>ins/sec</span>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-size-min">
                        <mat-label>Instance name</mat-label>
                        <input class="setText-center app-input" matInput type="string" formControlName="name"
                            placeholder="a1.large" />
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>