<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="numOfCloudsFromGroup">
    <ng-template matStepLabel>Number of clouds</ng-template>
    <app-cloud-number-form (quantityOfComputingNodes)="setNumOfComputingNodes($event)"></app-cloud-number-form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Configure clouds</ng-template>
    <app-list-configurable-clouds
      [numOfClouds]="numOfClouds"
      [numOfFogs]="numOfFogs"
      [computingNodes]="computingNodes"
      (readyToSaveEmitter)="saveComputingNodes($event)"
    ></app-list-configurable-clouds>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Configure stations</ng-template>
    <app-list-stations (stationsEmitter)="saveStationNodes($event)"  (isStepBack)="stepBack($event)"></app-list-stations>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Configure connections</ng-template>
    <app-connection [clouds]="computingNodes.clouds" [fogs]="computingNodes.fogs" [stationNodes]="stationNodes" *ngIf="showConnections"></app-connection>
  </mat-step>
</mat-horizontal-stepper>
