<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <ng-template matStepLabel>Number of clouds</ng-template>
    <app-node-quantity-form></app-node-quantity-form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Configure nodes</ng-template>
    <ng-container ></ng-container>
    <app-list-configurable-nodes
      [numOfClouds]="(configurationService.nodesQuantity$ | async)?. numberOfClouds"
      [numOfFogs]="(configurationService.nodesQuantity$ | async)?. numberOfFogs"
      [computingNodes]="computingNodes"
      (readyToSaveEmitter)="saveComputingNodes($event)"
    ></app-list-configurable-nodes>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Configure stations</ng-template>
    <app-list-stations [stationNodes]="stationNodes"
      (stationsEmitter)="saveStationNodes($event)"></app-list-stations>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Configure connections</ng-template>
    <app-connection *ngIf="showConnections"
      [generateGraphSubject]="generateGraph"
      [computingNodes]="computingNodes"
      [stationNodes]="stationNodes"
      (isStepBack)="stepBack($event)" ></app-connection>
  </mat-step>
</mat-horizontal-stepper>
