  <app-toolbar class="toolbar" [showItems]="!isBigScreen" [title]="title" (sidenavToggle)="toggleExpanded(sidenav)"></app-toolbar>
  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sidenav class="sidenav" role="navigation" [mode]="isBigScreen ? 'side':'over'" [opened]="isBigScreen" >
      <app-sidenav-items (closeSidenav)="sidenav.close()"></app-sidenav-items>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="background-img">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
