<div fxLayout="column" fxLayoutAlign="space-around center">
  <form class="form-width">
    <ng-container *ngFor="let i of [].constructor(numOfClouds); let counter = index">
      <app-configurable-cloud
        [nodeId]="'cloud' + counter"
        [lpdsTypes]="instaces"
        isCloud="true"
        (setComputingNode)="addComputingNode($event)"
      ></app-configurable-cloud>
    </ng-container>
    <ng-container *ngIf="numOfFogs > 0">
      <ng-container *ngFor="let i of [].constructor(numOfFogs); let counter = index">
        <app-configurable-cloud
          [nodeId]="'fog' + counter"
          [lpdsTypes]="instaces"
          isCloud="false"
          (setComputingNode)="addComputingNode($event)"
        ></app-configurable-cloud>
      </ng-container>
    </ng-container>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%" class="action-toolbar">
      <button mat-raised-button matStepperPrevious>Back</button>
      <button [disabled]="!readyToSave" mat-raised-button color="primary" matStepperNext (click)="saveNodes()">
        Next
      </button>
    </div>
  </form>
</div>
