 <mat-card class="card">
  <form [formGroup]="cloudCardForm">
    <div class="container">
      <div class="node-icon node-header">
        <i [class]="cloudIcon"></i>
        <div class="top-status">
          <i [class]="statusIcon"></i>
        </div>
      </div>
      <div class="configuration-tools">
        <mat-form-field class="resource-selector">
          <mat-label>Select resource type</mat-label>
          <mat-select [(ngModel)]="selectedResource" name="selectedResource" [ngModelOptions]="{ standalone: true }">
            <mat-option *ngFor="let resource of resources" [value]="resource"> {{ resource }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="configure-apps">
          <div fxLayout="column" fxLayoutAlign="space-around center">
            <label>Number of applications</label>
            <mat-form-field appearance="outline" class="apps-quantity-input">
              <input
                class="setText-center"
                matInput
                type="number"
                [(ngModel)]="numOfApps"
                (keyup)="onChange()"
                formControlName="numOfApplications"
              />
              <mat-icon [matTooltip]="errorTooltip" [matTooltipDisabled]="!showErrorTooltip"
              matTooltipPosition="below" matSuffix>{{ appsStatusIcon }}</mat-icon>
            </mat-form-field>
          </div>
          <div *ngIf="cloudCardForm.valid">
            <button mat-icon-button (click)="openDialog()">
              <i class="fas fa-edit fa-2x"></i>
            </button>
          </div>
        </div>
        <div class="quantity-container">
          <mat-divider vertical="true"></mat-divider>
          <button mat-icon-button (click)="decrease()">
            <i class="fas fa-minus"></i>
          </button>
          <input matInput class="quantity-input" type="number" readonly="true" [value]="node.quantity"/>
          <button mat-icon-button (click)="increase()">
            <i class="fas fa-plus"></i>
          </button>
          <mat-divider vertical="true"></mat-divider>
          <button mat-icon-button (click)="removeEmitter.emit(node.id)">
            <i class="fas fa-trash-alt"></i>
          </button>
          <mat-divider vertical="true"></mat-divider>
        </div>
      </div>
      <div class="bottom-status">
        <i [class]="statusIcon"></i>
      </div>
    </div>
  </form>
</mat-card>
