<mat-card>
  <form [formGroup]="cloudCardForm">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div>
        <i [class]="icon"></i>
      </div>
      <mat-form-field>
        <mat-label>Select LPDS type</mat-label>
        <mat-select [(ngModel)]="selectedLPDStype" name="selectedLPDStype" [ngModelOptions]="{ standalone: true }">
          <mat-option *ngFor="let lpdsType of lpdsTypes" [value]="lpdsType"> {{ lpdsType }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>x</mat-label>
          <input class="setText-center" matInput type="number" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>y</mat-label>
          <input class="setText-center" matInput type="number" />
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <label>Number of applications</label>
        <mat-form-field appearance="outline" class="input-size-min">
          <input
            class="setText-center"
            matInput
            type="number"
            [(ngModel)]="numOfApps"
            formControlName="numOfApplications"
          />
        </mat-form-field>
      </div>
      <div>
        <button mat-icon-button (click)="openDialog()">
          <i class="fas fa-edit fa-2x"></i>
        </button>
      </div>
    </div>
  </form>
</mat-card>
<!-- <p>You selected: {{ selectedLPDStype }}</p> -->
