@import '../../../../assets/css/formStyle.css';

.apps-quantity-input {
  width: 100px;
}

.status-margin {
  margin: 0 50px;
}

.container{
  display: flex;
  align-items: center;
}

.card{
  margin-top: 2rem;
}

.configuration-tools{
  display: flex;
  align-items: center;
  flex: 1;
  justify-content:space-evenly;
}

.configure-apps{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .configuration-tools {
    width: 100%;
  }

  .container{
    flex-direction: column;
  }

  .node-icon{
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .configuration-tools {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .card{
    margin: 2rem -2rem 0 -2rem;
  }
}
