/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.applications-dialog-panel .mat-dialog-container{
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.mat-button-focus-overlay {
  background-color: transparent!important;
}
