<div class="container">
  <div class="description">
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum libero quibusdam quod ipsam, quae maxime corrupti aut eos enim ducimus, consequatur illo in deleniti eveniet blanditiis aliquam quia incidunt quasi?</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum libero quibusdam quod ipsam, quae maxime corrupti aut eos enim ducimus, consequatur illo in deleniti eveniet blanditiis aliquam quia incidunt quasi?</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum libero quibusdam quod ipsam, quae maxime corrupti aut eos enim ducimus, consequatur illo in deleniti eveniet blanditiis aliquam quia incidunt quasi?</p>
  </div>
  
  <button class="configure-button" mat-raised-button color="primary" routerLink="/configure">Configure</button>
  
  <img alt="Dissect-cf-fog image"
    src="../../../assets/images/dissect.jpg">
  <div class="github-container">
    <img alt="git" class="git-icon" src="../../../assets/images/git-logo.png">
    <a target="blank" class="github-link" href="https://github.com/andrasmarkus/dissect-cf">andrasmarkus/dissect-cf</a>
  </div>
</div>
