<h1 mat-dialog-title class="setText-center">Number of applications {{ data.numOfApps }}</h1>
<div mat-dialog-content>
  <div [style.margin]="'2%'" fxLayout="row wrap" fxLayoutAlign="center center">
    <ng-container *ngFor="let index of [].constructor(data.numOfApps); let i = index">
      <app-application-card
        [style.margin]="'1%'"
        fxFlex="0 1 auto"
        [index]="i + 1"
        [application]="data.applications.get(i)"
      ></app-application-card>
    </ng-container>
  </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="center end">
  <button mat-button matDialogClose (click)="closeWithData()">No Thanks</button>
  <button mat-button [disabled]="!checkDialogIsValid()" (click)="submitApplicationCards()">
    Ok
  </button>
</div>
