<mat-card class="station-card">
  <mat-card-header class="header" >
    <button mat-icon-button type="button" class="info-icon" (click)="openInfoPanelForStations()">
      <i class="fas fa-info-circle fa-lg"></i>
    </button>
    <div class="title">
      <span class="title-text">Devices</span>
    </div>
    <button mat-icon-button (click)="removeEmitter.emit(station.id)">
      <i class="fas fa-trash-alt"></i>
    </button>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="stationFormGroup">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="double-item-row space-top">
          <mat-form-field appearance="outline" class="input-size-min">
            <mat-label>Start time</mat-label>
            <input class="setText-center app-input" matInput type="number" formControlName="starttime" placeholder="> 1"/>
            <span matSuffix>ms</span>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-size-min">
            <mat-label>Stop time</mat-label>
            <input class="setText-center" matInput type="number" formControlName="stoptime" placeholder="1000"/>
            <span matSuffix>ms</span>
            <mat-hint align="end">Stop time > Start time</mat-hint>
          </mat-form-field>
        </div>
        <div class="double-item-row">
          <mat-form-field appearance="outline" class="input-size-min">
            <mat-label>File size</mat-label>
            <input class="setText-center" matInput type="number" formControlName="filesize" placeholder="> 49"/>
            <span matSuffix>byte</span>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-size-min">
            <mat-label>Sensor count</mat-label>
            <input class="setText-center" matInput type="number" formControlName="sensorCount" placeholder="> 0"/>
            <span matSuffix>unit</span>
          </mat-form-field>
        </div>
        <div class="double-item-row">
          <mat-form-field appearance="outline" class="input-size-min">
            <mat-label>Frequency</mat-label>
            <input class="setText-center" matInput type="number" formControlName="freq" placeholder="> 6000"/>
            <span matSuffix>hz</span>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-size-min">
            <mat-label>Max in bw</mat-label>
            <input class="setText-center" matInput type="number" formControlName="maxinbw" placeholder="> 1"/>
            <span matSuffix>byte/tick</span>
          </mat-form-field>
        </div>
        <div class="double-item-row">
          <mat-form-field appearance="outline" class="input-size-min">
            <mat-label>Max out bw</mat-label>
            <input class="setText-center" matInput type="number" formControlName="maxoutbw" placeholder="> 1"/>
            <span matSuffix>byte/tick</span>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-size-min">
            <mat-label>Disk bw</mat-label>
            <input class="setText-center" matInput type="number" formControlName="diskbw" placeholder="> 1"/>
            <span matSuffix>byte/tick</span>
          </mat-form-field>
        </div>
      </div>
      <div class="double-item-row">
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>Latency</mat-label>
          <input class="setText-center" matInput type="number" formControlName="latency" placeholder="> 0"/>
          <span matSuffix>ms</span>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>Radius</mat-label>
          <input class="setText-center" matInput type="number" formControlName="radius" placeholder="> 0"/>
          <span matSuffix>unit</span>
        </mat-form-field>
      </div>
      <div class="double-item-row">
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>Speed</mat-label>
          <input class="setText-center" matInput type="number" formControlName="speed" placeholder="> 0"/>
          <span matSuffix>mm/s</span>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>Cores</mat-label>
          <input class="setText-center" matInput type="number" formControlName="cores" placeholder="> 0"/>
          <span matSuffix>unit</span>
        </mat-form-field>
      </div>
      <div class="double-item-row">
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>Processing per core</mat-label>
          <input class="setText-center" matInput type="number" formControlName="perCoreProcessing" placeholder="> 0"/>
          <span matSuffix>ins/s</span>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>RAM</mat-label>
          <input class="setText-center" matInput type="number" formControlName="ram" placeholder="> 0"/>
          <span matSuffix>byte</span>
        </mat-form-field>
      </div>
      <div class="double-item-row">
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>Min power</mat-label>
          <input class="setText-center" matInput type="number" formControlName="minpower" placeholder="> 0"/>
          <span matSuffix>watt</span>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>Idle power</mat-label>
          <input class="setText-center" matInput type="number" formControlName="idlepower" placeholder="> 0"/>
          <span matSuffix>watt</span>
        </mat-form-field>
      </div>
      <div class="double-item-row">
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>Max power</mat-label>
          <input class="setText-center" matInput type="number" formControlName="maxpower" placeholder="> 5000"/>
          <span matSuffix>watt</span>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-size-min">
          <mat-label>Capacity</mat-label>
          <input class="setText-center" matInput type="number" formControlName="capacity" placeholder="> 5000"/>
          <span matSuffix>byte</span>
        </mat-form-field>
      </div>
      <div class="double-item-row">
        <mat-form-field appearance="outline" class="input-size-min no-padding">
          <mat-label>Strategy</mat-label>
          <mat-select [(ngModel)]="strategy" [ngModelOptions]="{ standalone: true }" (selectionChange)="onStrategyChange()">
            <mat-option *ngFor="let strategy of resourceSelectionService.strategiesForDevices$ | async" [value]="strategy"> {{ strategy }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <mat-divider></mat-divider>
    <div class="quantity-container">
      <button mat-icon-button (click)="decrease()">
        <i class="fas fa-minus"></i>
      </button>
      <input matInput class="quantity-input" type="number" readonly="true" [ngModel]="quantity"/>
      <button mat-icon-button (click)="increase()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </mat-card-content>
</mat-card>
